.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* */

.item img {
  width: 150px;
}
.item img:hover {
  box-shadow: rgb(37, 37, 37) 0px 1px 10px;
}

.cart-wrapper {
  height: 100px;
  width: 500px;
}

.btn-wrapper button {
  border: 0px;
  padding: 10px;
  border-radius: 20px;
  color: #ffffff;
  background-color: black;
}

.btn-wrapper button:hover{
  box-shadow: black 0px 2px 17px;
}



button.remove-to-cart{
  background-color: darkslategrey;
  margin-left:10px ;
}

button.remove-to-cart:hover{
  box-shadow: black 0px 2px 17px;

}

.taxt-wrapper {
  font-size: 20px;
}


.add-to-cart img{
  height: 50px;
  position: absolute;
  right: 12%;
  top: 3%;
}

.cart-count {
  position: absolute;
  right: 12%;
  top: 2%;
  background-color: #000000;
  color: white;
  border-radius: 20px;
  z-index: 1;
}

/* */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}